@charset "utf-8";

figure {
   text-align: center;
}


body {
    height: auto;
    width: auto;
}

@media only screen and (max-width: 500px) {
    figure {
        display: none;
    }
}